/* 
EXP. BAHARI 
2019
@oiwyn - Happy new year!
*/

/* ADDITIONAL CSS */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@color-dark: darken(@color, 15%);
@color-light: lighten(@color, 40%);
section {
	background-color: #f9f9f9 !important;
}
img {
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.modal-price {
	display: none;
	position: fixed;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.2);
}
.modal-price h2, h3 {
	color: #fff;
}
.modal-price h2 {
	font-size: 20px;
	padding: 5px 0px 5px 0px;
}
.modal-price h3 {
	font-size: 10px;
	text-transform: uppercase;
	text-align: right;
}
.modal-header-price {
	padding: 2px 16px;
	background-color: #253993;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.modal-body-price {
	padding: 10px 15px 5px 15px;
}
.modal-content-price {
	position: relative;
	background-color: #fefefe;
	margin: 15% auto;
	padding: 0;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation-name: animatetop;
	animation-duration: 0.4s;
}
.modal-content-price p {
	margin-bottom: 0px;
}
.modal-content-price .p-price {
	text-align: right;
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 7px;
}
.modal-content-price .footnote {
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: .5px;
	text-align: center;
	display: block;
	border-top: 1px solid #ddd;
	margin-top: 10px;
	padding-top: 3px;
}
.modal-footer-price {
	padding: 3px 10px 3px 0px;
	background-color: #70758e;
	font-style: italic;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.modal-footer-price:hover {
	background-color: #3d3f4c;
	text-decoration: underline;
	text-decoration-color: #fff;
}
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}
	to {
		top: 0;
		opacity: 1
	}
}
.close-price {
	color: #aaa;
	float: right;
	font-size: 20px;
	font-weight: bold;
	margin-right: -8px;
}
.close-price:hover, .close-price:focus {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}
.tipe-seat {
	text-transform: uppercase;
	font-size: .9em;
	font-weight: 700;
	padding: 5px;
	margin-right: 5px;
	border-radius: 0px;
	display: flex;
	background-color: rgba(0, 0, 0, .1);
}
.tipe-seat:before {
	content: "Kelas ";
	white-space: pre;
}
.tipe-seat.anak {
	font-weight: 500;
	padding: 5px;
	margin-right: 5px;
	border-radius: 0px;
	display: flex;
	background-color: rgba(0, 0, 0, .1);
}
.tipe-seat:before {
	content: "Kelas ";
	white-space: pre;
}
.tipe-lain {
	text-transform: uppercase;
	font-size: .8em;
	font-weight: 700;
	padding: 4px;
	margin-right: 5px;
	border-radius: 3px;
	display: inline;
	background-color: rgba(0, 0, 0, .1);
}
#header.header-sticky #header-wrap {
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid #ddd !important;
}
#mainMenu .badge-danger {
	display: inline !important;
	font-size: 12px !important;
	color: #fff !important;
}
#mainMenu .badge-success {
	margin-left: 0px !important;
	display: inline !important;
	font-size: 12px !important;
	color: #fff !important;
}
#jadwal {
	margin-top: -25px;
}
#jadwal .room-image img {
	cursor: default;
}
#jadwal .room-image:hover img {
	opacity: 1;
}
#contact-card {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
#contact-card label {
	color: #646464;
}
#contact-card form-control:focus, input:focus, select:focus {
	border-color: #f33e5b !important;
}
#faqs {
	z-index: 0;
}
small {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700 !important;
	letter-spacing: .5px;
}
h5 {
	letter-spacing: 0px;
}
.seperator::before, .seperator::after, .separator::before, .separator::after {
	border-bottom: 1px solid #dcdcdc;
}
.hubungi-hero {
	letter-spacing: 0px;
	color: #353535;
	text-align: left;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
}
.hubungi-hero h4 {
	color: #676767;
    letter-spacing: 0px;
    font-weight: 900;
}
.new-bg {
	background-color: #f9f9f9 !important;
}
.kontak-info {
	margin-bottom: 10px;
}
.detail-kontak {
	font-size: 13px;
	display: inline;
}
.detail-kontak li {
	display: inline-grid;
	border: none;
}
.detail-kontak span {
	font-weight: bold;
}
.detail-kontak .list-group-item {
	padding: 5px 15px 5px 5px;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.1);
}
.pricing-table .plan .plan-header .plan-price sup {
	font-size: 18px !important;
}
.reservation-form {
	min-height: 0px;
	margin-top: -15px;
	margin-bottom: 5px;
	border-radius: 5px;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	padding: 30px 15px 0px 10px;
}
.reservation-kapal .form-group label {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0;
}
.reservation-kapal p {
	text-align: left;
	color: #aaa;
	font-size: 12px;
}
.reservation-kapal a {
	font-weight: 700;
	border-bottom: 2px solid #738cd0;
	color: #5a6ea5;
}
.form-bahari {
	border: 2px solid #ddd !important;
}
.gradient-text-red {
	-webkit-text-stroke: 2px #d82627;
	color: transparent;
}
.gradient-text-blue {
	-webkit-text-stroke: 2px #1f52e1;
	color: transparent;
}
.lead a {
	font-weight: 500;
	border-bottom: 2px solid #738cd0;
}
optgroup[label] {
	color: #f33e5b;
}
optgroup option {
	color: #444;
}
.btn-ctus {
	margin-top: 5px;
	background: linear-gradient(to bottom right, #1f52e1 0%, #d82627 100%) !important;
}
.tabs .nav-tabs .nav-link.active {
	color: #dc3545 !important;
	background-color: transparent;
	border-bottom: 2px solid #dc3545;
	border-right: 2px #dc3545 !important;
}
.pertanyaan-header {
	text-transform: uppercase;
	font-weight: 900;
}
.pertanyaan-isi {
	padding-left: 5px;
}
.pertanyaan-isi::before {
	content: "• ";
	color: #ccc;
}
.copyright-bahari {
	color: #fff;
	border-top: 1px solid #1f52e1 !important;
	background-color: #253993 !important;
}
.owl-carousel .owl-nav [class*="owl-"] {
	opacity: .5;
	background-color: rgba(255, 255, 255, .9);
	border-radius: 1px;
	border: 0px;
}
.owl-carousel .owl-nav [class*="owl-"] i {
	font-size: 15px;
}
.owl-carousel .owl-nav [class*="owl-"]:hover {
	opacity: 1;
}
.hr-title abbr {
	background-color: #f9f9f9;
}
.stickyKota {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;
	border-bottom: 1px solid #ccc !important;
}
.stickyKota+.contentKota {
	padding-top: 60px;
}
.page-menu .menu-title {
	color: #adadad;
}
.tarif-title {
	margin-bottom: -59px;
}
.tarif-title h1 {
	font-size: 70px;
}
.tarif-tiket-pilih {
	background-color: rgba(255, 255, 255, 0.8);
	border-bottom: 1px solid #eee;
}
.tarif-tiket-pilih nav li a {
	padding: 5px;
	font-size: 11px;
	background-color: rgba(255, 255, 255, 0.7);
	font-weight: 700;
}
.tarif-tiket-pilih nav li.active a {
	font-weight: bold;
}
.tarifkota {
	padding-top: 35px;
}
.firstkota {
	padding-top: 0px;
	margin-top: -20px;
}
.pilih-kota {
	max-width: 1340px;
}
.pilih-kota ul {
	background-color: rgba(255, 255, 255, 0);
}
.tabletarif {
	border-radius: 3px;
}
.tabletarif:hover {
	cursor: default;
}
/* PRICINGTABLE CSS */
.comparison {
	margin: 0 auto;
	font-size: 13px;
	text-align: center;
	padding: 0px 0px 10px 0px;
}
.comparison table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	border-bottom: 1px solid #CCC;
}
.comparison td, .comparison th {
	border-right: 1px solid #CCC;
	empty-cells: show;
	padding: 10px;
}
.compare-heading {
	font-size: 18px;
	font-weight: bold !important;
	padding	: 10px 0px 10px 0px !important;
}
.comparison tbody tr:nth-child(odd) {
	display: none;
}
.comparison .compare-row {
	background: #fff;
	border-left: 1px solid #ccc;
    border-top: 1px solid #ddd;
}
.comparison .tickblue {
	color: #0078C1;
}
.comparison .tickgreen {
	color: #009E2C;
}
.comparison th {
	font-weight: normal;
	padding: 0;
	border-bottom: 1px solid #CCC;
}
.comparison tr td:first-child {
	text-align: left;
}
.comparison .qbse, .comparison .qbo, .comparison .tl {
	color: #FFF;
	padding: 5px;
	font-size: 13px;
	border-right: 1px solid #CCC;
	border-bottom: 0;
}
.comparison .tl2 {
	border-right: 0;
}
.comparison .qbse {
	background: linear-gradient(to bottom right, #1f52e1 10%, #d82627 120%) !important;
	border-top-left-radius: 3px;
	border-left: 0px;
}
.comparison .qbo {
	background: #253993;
	border-top-right-radius: 3px;
	border-right: 0px;
}
.comparison .price-info {
	padding: 5px 15px 15px 15px;
}
.comparison .price-was {
	color: #999;
	text-decoration: line-through;
}
.comparison .price-now, .comparison .price-now span {
	color: #253993;
}
.comparison .price-now span {
	font-size: 22px;
}
.comparison .price-small {
	font-size: 15px !important;
	position: relative;
}
.comparison .price-buy {
	background: #253993;
	padding: 10px 20px;
	font-size: 12px;
	display: inline-block;
	color: #FFF;
	text-decoration: none;
	border-radius: 3px;
	text-transform: uppercase;
	margin: 5px 0 10px 0;
}
.comparison .price-try {
	font-size: 12px;
}
.comparison .price-try a {
	color: #202020;
}
.comparison .pricing-header{
	background: #f1f1f1;
	border: 1px solid #bbb;
}
.comparison .pricing-header td{
	font-weight: 700;
}
@media (max-width: 767px) {
	.comparison td:first-child, .comparison th:first-child {
		display: none;
	}
	.comparison tbody tr:nth-child(odd) {
		display: table-row;
		background: #F7F7F7;
	}
	.comparison .row {
		background: #FFF;
	}
	.comparison td, .comparison th {
		border: 1px solid #CCC;
	}
	.price-info {
		border-top: 0 !important;
	}
}
@media (max-width: 639px) {
	.comparison .price-buy {
		padding: 5px 10px;
	}
	.comparison td, .comparison th {
		padding: 10px 5px;
	}
	.comparison .hide-mobile {
		display: none;
	}
	.comparison .price-now span {
		font-size: 16px;
	}
	.comparison .price-small {
		font-size: 16px !important;
		top: 0;
		left: 0;
	}
	.comparison .qbse, .comparison .qbo {
		font-size: 12px;
		padding: 5px;
	}
	.comparison .price-buy {
		margin-top: 10px;
	}
	.compare-heading {
		font-size: 13px;
	}
}
/* END -- PRICINGTABLE -- END*/

.tariftiket {
	margin-top: -10px;
	margin-bottom: 20px !important;
	border: 1px solid #ddd;
	border-radius: 1px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.featured.tariftiket .plan-header {
	background: linear-gradient(to bottom right, #1f52e1 0%, #d82627 100%) !important;
}
.featured.tariftiket sup {
	color: rgba(255, 255, 255, 0.5) !important;
}
.featured.tariftiket span {
	color: rgba(255, 255, 255, 0.5) !important;
}
.bayi.tariftiket .plan-header {
	background: linear-gradient(to bottom right, #005AA7 30%, #FFFDE4 100%) !important;
}
.bayi.tariftiket sup {
	color: rgba(0, 0, 0, 0.5) !important;
}
.bayi.tariftiket span {
	color: rgba(0, 0, 0, 0.5) !important;
}
.others.tariftiket .plan-header {
	background: linear-gradient(to bottom right, #636363 30%, #a2ab58 100%) !important;
}
.others.tariftiket sup {
	color: rgba(0, 0, 0, 0.5) !important;
}
.others.tariftiket span {
	color: rgba(0, 0, 0, 0.5) !important;
}
.others1.tariftiket .plan-header {
	background: linear-gradient(to bottom right, #11998e 30%, #38ef7d 100%) !important;
}
.others1.tariftiket sup {
	color: rgba(0, 0, 0, 0.5) !important;
}
.others1.tariftiket span {
	color: rgba(0, 0, 0, 0.5) !important;
}
.others2.tariftiket .plan-header {
	background: linear-gradient(to bottom right, #4b6cb7 30%, #182848 100%) !important;
}
.others2.tariftiket sup {
	color: rgba(0, 0, 0, 0.5) !important;
}
.others2.tariftiket span {
	color: rgba(0, 0, 0, 0.5) !important;
}
.jadwal-kbr {
	margin-bottom: 0 !important;
	box-shadow: none;
	border-radius: 3px;
	border-top: 5px solid #70758e;
}
.jadwal-kbr:hover {
	box-shadow: none !important;
}
.jadwal-kbr.tariftiket .plan-header {
	background: #fff;
}
.jadwal-kbr.tariftiket h4 {
	margin-top: -10px;
	font-size: 1em;
	font-weight: 600;
	color: #565656 !important;
	letter-spacing: 0;
	text-align: left;
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.jadwal-kbr.tariftiket span {
	color: #565656 !important;
}
.tarif-jadwal p {
	text-align: left;
	color: #565656;
	padding-top: 0px;
	font-size: 13px;
}
.tarif-jadwal .kota {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	display: block;
	margin-top: 10px;
	color: #fff !important;
}
.tarif-jadwal .jadwalkb {
	text-transform: uppercase;
	font-size: .8em;
	font-weight: 700;
	padding: 5px;
	margin-right: 5px;
	background-color: rgba(0, 0, 0, .1);
}
.tariftiket h2 {
	color: #fff;
	margin-bottom: 0px;
}
.tariftiket .text-muted {
	opacity: .8;
	font-size: 10px;
}
.tariftiket sup {
	color: #7d95ff !important;
}
.tariftiket span {
	color: #7d95ff !important;
}
.tentang-pengantar {
	font-family: 'Playfair Display';
	letter-spacing: 0;
	font-size: 55px;
	font-weight: 500;
	line-height: 45px;
	color: #313131;
}
.tentang-h2 h2 {
	font-family: 'Playfair Display';
	letter-spacing: 0;
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
	color: #313131;
}
.tentang-quote {
	border: 0 none !important;
	margin-bottom: 0px;
}
.tentang-quote p {
	font-family: 'Playfair Display' !important;
	text-align: center;
}
.tentang-p-fix p {
	text-align: right;
}
.tentang-small {
	text-align: right;
}
.tentang-div-fancy {
	background-color: #f7f7f7;
}
.tentang-bar {
	border-right: 0px;
}
.tentang-h3 {
	font-family: 'Playfair Display';
	letter-spacing: 0;
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
	color: #313131;
	text-align: center;
}
.year-section {
	margin: 50px auto;
	color: @color-light;
	font-size: 1.8em;
}
.year {
	font-weight: 700;
	padding-bottom: 15px;
	color: #917d5d;
}
.big {
	font-size: 14px;
	color: #646464;
	font-weight: 500;
	margin-bottom: .5em;
	letter-spacing: 0px;
}
.aside {
	font-size: 14px;
	border-left: 2px solid #ad9979;
	padding-left: 10px;
	padding-bottom: 10px;
	font-weight: 300;
}
.hubungikami tr th {
	text-transform: uppercase;
	color: #a5a5a5;
	font-size: 13px;
}
.hubungikami a {
	padding-bottom: 0px;
	text-decoration: underline;
	text-decoration-color: #bbb;
}
.hubungikami a:hover {
	color: #253993;
}
.table-city {
	text-transform: none !important;
	color: #565656 !important;
	font-weight: 700;
}
.table-pulau {
	font-weight: 700;
	font-size: 13px !important;
	color: rgba(255, 255, 255, 0.8) !important;
	letter-spacing: 0.5px;
	background-color: #253993;
	padding-left: 15px !important;
	font-family: Arial;
}
.promo-nav {
	margin-bottom: 40px;
}
.promo-nav .active {
	border-radius: 0;
	padding: 0px;
}
.promo-nav li a {
	font-size: 10px;
	border-radius: 0px;
	padding: 4px;
	margin-bottom: 5px;
	font-weight: 700;
	background-color: rgba(37, 57, 147, 0.9);
	color: #fff;
}
.grid-active-title {
	z-index: -1;
	opacity: 0.15;
}
/* ORIGINAL CSS */

.room {
	margin-bottom: 100px;
}
.room-image {
	border-radius: 4px;
	margin-bottom: 10px;
	position: relative;
}
.room-image img {
	border-radius: 4px;
	width: 100%;
	opacity: 1;
	transition: all ease 0.3s;
	cursor: pointer;
}
.room-image:hover img {
	opacity: 0.7;
}
.room-image .room-title {
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 1) 100%) repeat scroll 0 0;
	bottom: 0px;
	color: #fff;
	font-weight: 600;
	padding: 10px 10px 30px;
	position: absolute;
	text-align: center;
	width: 100%;
	font-size: 18px;
	border-radius: 0 0 4px 4px;
	float: left;
}
.room-badge {
	background: #e01a33 none repeat scroll 0 0;
	border-radius: 50%;
	color: #fff;
	font-size: 0.8333em;
	font-weight: bold;
	height: 42px;
	line-height: 1.0833em;
	margin: 0;
	padding: 10px 0 0;
	position: absolute;
	right: 10px;
	text-align: center;
	text-transform: uppercase;
	top: 10px;
	width: 42px;
	z-index: 1;
}
.room-details>p {
	border-bottom: 1px solid #f5f5f5;
	margin-bottom: 12px;
	padding-bottom: 10px;
}
.room-details .kota {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	display: block;
	margin-top: 10px;
}
.room-details .jadwalkb {
	text-transform: uppercase;
	font-size: .8em;
	font-weight: 700;
	margin-right: 6px;
	color: #fff;
	background-color: #253993;
}